/LAB1ConsoleFramework/nbproject/private/
/ConsoleFramework/nbproject/private/
/ConsoleFramework/dist/
/ConsoleFramework/build/
/Comp258Lab2_ArrayManager/build/
/Comp258Lab2_ArrayManager/dist/
/Comp258Lab2_ArrayManager/nbproject/private/
